html{
    font-size: 62.5;
    /* gracias a esto el padding no afecta al tamaño */
    
    box-sizing: border-box; /* hack para box model */
}

/* * Indica que aplica para todo el contenido*/
*, *:before, *:after {
    box-sizing: inherit; 
  }

  body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    /* degradado de colores( direccion, color 0%, color 100%) */
    /* background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%); */
    background-image: linear-gradient(to top, pink 0%, white 100%);

}

  /* Clase contenedor para centrar en el sitio */
.contenedor{
    /* si es que hay 120rem */
    max-width: 90rem; /*Acorta o ensancha el largo*/
    /* margin: TOP RIGTH BOT LEFT */
    margin: 0 auto ; /* En que posicion se coloca un elemento */
    /* Si solo hay 2 valores sobreentiende que 0 es top y bot */
    
}

.titulo{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.enviarUsuario input{
    margin-top: 0.5rem;
}

.titulo span{
    font-size: 0.5rem;
}

.datos{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.datos p{
    margin-bottom: 0.2rem;
}


.sombra{

    -webkit-box-shadow: 0px -2px 5px 3px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -2px 5px 3px rgba(0,0,0,0.59);
    box-shadow: 0px -2px 5px 3px rgba(0,0,0,0.59);
    
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}